Data/Shapefiles/Cafine_salt_UTM.cpg
Data/Shapefiles/Cafine_salt_UTM.dbf
Data/Shapefiles/Cafine_salt_UTM.prj
Data/Shapefiles/Cafine_salt_UTM.qmd
Data/Shapefiles/Cafine_salt_UTM.shp
Data/Shapefiles/Cafine_salt_UTM.shx
Data/Shapefiles/Cafine_UTM.qmd
Data/Shapefiles/Elalab_salt_UTM.cpg
Data/Shapefiles/Elalab_salt_UTM.dbf
Data/Shapefiles/Elalab_salt_UTM.prj
Data/Shapefiles/Elalab_salt_UTM.qmd
Data/Shapefiles/Elalab_salt_UTM.shp
Data/Shapefiles/Elalab_salt_UTM.shx
Data/Shapefiles/Elalab_UTM.qmd
Results/Cafine_Cafal/AM_points_summary_thr_0.33.xlsx
Results/Elalab/AM_points_summary_thr_0.33.xlsx
Data/Images/Cafine_Cafal
Data/Images/Elalab