Data/Shapefiles/Cafine_salt_UTM.cpg
Data/Shapefiles/Cafine_salt_UTM.dbf
Data/Shapefiles/Cafine_salt_UTM.prj
Data/Shapefiles/Cafine_salt_UTM.qmd
Data/Shapefiles/Cafine_salt_UTM.shp
Data/Shapefiles/Cafine_salt_UTM.shx
Data/Shapefiles/Cafine_UTM.qmd
Data/Shapefiles/Elalab_salt_UTM.cpg
Data/Shapefiles/Elalab_salt_UTM.dbf
Data/Shapefiles/Elalab_salt_UTM.prj
Data/Shapefiles/Elalab_salt_UTM.qmd
Data/Shapefiles/Elalab_salt_UTM.shp
Data/Shapefiles/Elalab_salt_UTM.shx
Data/Shapefiles/Elalab_UTM.qmd
Results/Cafine_Cafal/AM_points_summary_thr_0.33.xlsx
Results/Elalab/AM_points_summary_thr_0.33.xlsx
Data/Shapefiles/Cafine_salt_UTM.geojson
Data/Images/Cafine_Cafal/2019_sentinel/2019_05_30.tif
Data/Images/Cafine_Cafal/2019_sentinel/2019_05_30.tif.aux.xml
Data/Images/Cafine_Cafal/2019_sentinel/2019_06_14.tif
Data/Images/Cafine_Cafal/2019_sentinel/2019_06_14.tif.aux.xml
Data/Images/Cafine_Cafal/2019_sentinel/2019_07_04.tif
Data/Images/Cafine_Cafal/2019_sentinel/2019_07_04.tif.aux.xml
Data/Images/Cafine_Cafal/2022/2022_05_24.tif
Data/Images/Cafine_Cafal/2022/2022_05_24.tif.aux.xml
Data/Images/Cafine_Cafal/2022/2022_06_02.tif
Data/Images/Cafine_Cafal/2022/2022_06_10.tif
Data/Images/Cafine_Cafal/2022/2022_06_26.tif
Data/Images/Cafine_Cafal/2022/2022_06_26.tif.aux.xml
Data/Images/Cafine_Cafal/2023/2023_05_16.tif
Data/Images/Cafine_Cafal/2023/2023_05_23.tif
Data/Images/Cafine_Cafal/2023/2023_06_04.tif
Data/Images/Cafine_Cafal/2023/2023_06_24.tif
Data/Images/Cafine_Cafal/2023/2023_06_24.tif.aux.xml
Data/Images/Cafine_Cafal/2023/no_usadas/2023_06_30.tif
Data/Images/Cafine_Cafal/2023/no_usadas/2023_07_13.tif
Data/Images/Cafine_Cafal/2023/no_usadas/2023_08_05.tif
Data/Images/Elalab/2021/2021_06_24.tif
Data/Images/Elalab/2021/2021_06_24.tif.aux.xml
Data/Images/Elalab/2021/2021_07_04.tif
Data/Images/Elalab/2021/2021_08_13.tif
Data/Images/Elalab/2022/2022_06_08.tif
Data/Images/Elalab/2022/2022_06_08.tif.aux.xml
Data/Images/Elalab/2022/2022_06_22.tif
Data/Images/Elalab/2022/2022_07_09.tif
Data/Images/Elalab/2022/2022_08_01.tif
Data/Images/Elalab/2024/2024_05_31.tif
Data/Images/Elalab/2024/2024_06_11.tif
Data/Images/Elalab/2024/2024_06_16.tif
Data/Images/Elalab/2024/2024_07_14.tif
